.getStarted_container {
	background-color: #ff4b3a;
	min-height: 100vh;
}
.logo {
	margin-top: 5rem;
	margin-left: 5rem;
}
h1 {
	color: #fff;
	font-size: 5rem;
	margin-left: 5rem;
}
.start_image {
	width: 100vw;
	height: 40vh;
}
.button {
	display: block;
	margin: 5rem auto 0;
	border-radius: 30px;
	background: #ffffff;
	color: #ff460a;
	width: 25rem;
	height: 6rem;
	outline: none;
}
.link_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 2rem;
}
.sign_in_up_container {
	background-color: #bcbaba;
	height: 100vh;
}
.upper {
	display: flex;
	height: 40vh;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
.upper svg {
	height: 17rem;
	width: 17rem;
}
.bb {
	display: flex;
	justify-content: space-around;
	margin-top: -4rem;
}
.bb a {
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: black;
}

.form_info {
	width: 80vw;
	margin: 10rem auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 80%;
	height: 3rem;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 3rem;
	background-color: #bcbaba;
}
label {
	margin-top: 0.8rem;
}

/*REUSABLE TEXT*/
.red {
	background-color: #ff4b3a;
	color: #fff;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 2rem;
}
.mgTop_20 {
	margin-top: 15rem;
}
.mg_left_5 {
	margin-left: 5rem;
}
.text_secondary {
	font-weight: bold;
	font-size: 2rem;
	line-height: 41px;
}

.search_input {
	border-radius: 1rem;
	border: none;
	padding: 0.5rem 2.5rem;
}
.search_icon {
	width: 2rem;
	position: relative;
	top: 3.2rem;
	left: 0.5rem;
	margin-right: 1rem;
}
.food_cards_container {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: space-between;
}

.food_card {
	width: 100px;
	box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
	border-radius: 30px;
	background-color: #bcbaba;
	margin: 1rem;
	padding: 1rem;
	height: 200px;
}
.cc {
	width: 100%;

	object-fit: cover;
}
