.App {
	margin: 0;
	padding: 0;
	background-color: #ff4b3a;
	height: 100vh;
}
.logo {
	margin-top: 5rem;
	margin-left: 5rem;
}
h1 {
	color: #fff;
	font-size: 5rem;
	margin-left: 5rem;
}

.button {
	display: block;
	margin: 5rem auto 0;
	border-radius: 30px;
	background: #ffffff;
	color: #ff460a;
	width: 25rem;
	height: 6rem;
	outline: none;
}
.link_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 2rem;
}
.sign_in_up_container {
	background-color: #bcbaba;
	height: 100vh;
}
.upper {
	display: flex;
	height: 40vh;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
.upper svg {
	height: 17rem;
	width: 17rem;
}
.bb {
	display: flex;
	justify-content: space-around;
	margin-top: -4rem;
}
.bb a {
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: black;
}

.form_info {
	width: 80vw;
	margin: 10rem auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	height: 3rem;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 3rem;
	background-color: #bcbaba;
}
label {
	margin-top: 0.8rem;
}

.red {
	background-color: #ff4b3a;
	color: #fff;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 2rem;
}
.mgTop_20 {
	margin-top: 15rem;
}
